---
export interface Props {
  title: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<meta name="description" content={description} />
  </head>
  <body
    class="bg-[#060606] text-white selection:bg-white selection:text-[#060606] font-serif p-8"
  >
    <slot />
  </body>
</html>
